<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bazaar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimum-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="SIm0EEU9xWfmzDBevZfA7bGga9rOcoUmYO_Uda9G6wM" />
    <!-- TODO: make sure bootstrap.min.css points to BootTheme generated file
        -->
    <link href="bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/sweet-alert.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="stylesheets/style.min.css" rel="stylesheet" type="text/css" />
    <!-- TODO: make sure bootstrap-responsive.min.css points to BootTheme
        generated file -->
    <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet"> -->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58300675-1', {'userID': '<%=userID%>'});
      ga('set', '&uid', "<%=userID%>");
      ga('require', 'displayfeatures');
      ga('send', 'pageview');

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry"></script>
  </head>
  <body>
    <input type="hidden" id="user-id" value="<%=userID%>"></input>
        <nav class="navbar navbar-default" role="navigation">
          <div class="container">
            <div class="row">
              <a class="navbar-brand" href="/">Bazaar</a>
              <ul class="nav navbar-nav navbar-right mynavbar">
                <li>
                  <a href="#" id="create" data-toggle="modal" data-target="#create-modal"><i class="fa fa-plus-circle fa-lg"></i></a>
                </li>
                <li>
                  <a href="#" id="settings" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog fa-lg"></i></a>
                  <ul class="dropdown-menu" id="settings-dropdown-menu">
                    <li><a href="/settings">Settings</a></li>
                    <li><a href="#" id="logout">Log out</a></li>
                  </ul>
                </li>
               </ul>
               <form class="navbar-form navbar-right navbar-search" id="search-form" action="#" role="search">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" type="search" placeholder="Search">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-success"><i class="fa fa-search"></i></button>
                    </span>
                  </div>
                </div>
              </form>
            </div>
          </div><!-- /.navbar-collapse -->
        </nav><!-- /navbar -->
    <div class="container">
      <!-- Create Modal -->
      <div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Create a Post</h4>
            </div>
            <form id="create-form">
              <div class="modal-body">
                <div class="form-group">
                  <label>Title</label>
                  <input class="form-control create-title" required type="text">
                </div>
                <div class="form-group">
                  <label>Description</label>
                  <textarea class="form-control create-description" required type="text"></textarea>
                </div>
                <div class="form-group">
                  <label>Price</label>
                  <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input class="form-control create-price" value="0" required type="number" pattern="\d*" min="0">
                  </div>
                </div>
                <div class="form-group">
                  <label>Category</label>
                  <select class='form-control create-categories selectpicker' data-style='btn-info' data-live-search="true" required>
                    <% for (var i = 0; i < categories.length; i++) { %>
                      <option value="<%= categories[i].id %>"><%= categories[i].name %></option>
                    <% } %>
                  </select>
                </div>
                <div class="form-group">
                  <label>Images</label>
                  <div class="modal-thumbnails"></div>
                  <span class="btn btn-primary btn-file form-control">
                    Upload an Image <input id='create-file' type="file" names="files[]" multiple>
                  </span>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" id="create-submit" class="btn btn-success">Create Post</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="modal fade" id="loading-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Uploading...</h4>
            </div>
              <div class="modal-body">
                <div class="progress-bar color stripes">
                  <span style="width:0;"></span>
                </div>
              </div>
          </div>
        </div>
      </div>

      <!-- Post Modal -->
      <div class="modal fade" id="post-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <i class="delete fa fa-trash"></i>
              <i class="edit fa fa-pencil"></i>
              <i class="edit-confirm fa fa-floppy-o"></i>
              <span class="btn btn-primary btn-xs btn-file">
                Upload a new image <input id='edit-file' type="file" names="files[]" multiple>
              </span>
              <h3 class="modal-title">
                <span class="post-title"></span>
                <span class="post-price-container"> - $<span class='post-price'></span></span>
              </h3>
            </div>
            <div class="modal-body">
              <div class="modal-image-container"><div class='modal-image'></div></div>

              <div class="modal-thumbnails"></div>
              <div class="post-description"></div>
              <button class="btn btn-info btn-xs category-tag"></button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <a id="modal-contact" href="" class="btn btn-success">Contact</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row main-content">
          <div class="col-md-3" id="panels">
            <div class="control-panel row panel panel-success">
              <div class="panel-heading">
                Control Panel <i class="fa fa-undo pull-right"></i>
              </div>
              <div class="panel-body">
                <div class="list-group">
                  <div class="list-group-item form-inline">
                    <i class="fa fa-filter list-group-item-heading"></i>
                    <select class="form-control selectpicker" data-style="btn btn-info" data-live-search="true" id="category-filter">
                      <option>All</option>
                      <% for (var i = 0; i < categories.length; i++) { %>
                        <option value="<%= categories[i].id %>"><%= categories[i].name %></option>
                      <% } %>
                    </select>
                  </div>
                  <div class="list-group-item">
                    <i class="fa fa-sort-amount-desc"></i>
                    <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-success active">
                        <input type="radio" name="order" value-"createdAt" autocomplete="off" checked>Date</input>
                      </label>
                      <label class="btn btn-success">
                        <input type="radio" name="order" value="price" autocomplete="off">Price</input>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="map-panel row panel panel-info">
              <div class="panel-heading">
                Map <i class="fa fa-plane pull-right"></i>
              </div>
              <div class="panel-body">
                <div id="map-canvas"></div>
              </div>
            </div>
          </div>
          <div id="post-container" class="col-md-8 col-md-offset-1 bg-primary">
            <div class="posts"></div>
            <nav>
              <ul class="pager">
                <li class="previous"><a href="#" onclick="this.blur();"><span aria-hidden="true">&larr;</span> Newer</a></li>
                <li class="page-info"></li>
                <li class="next"><a href="#" onclick="this.blur();">Older <span aria-hidden="true">&rarr;</span></a></li>
              </ul>
            </nav>
          </div>
        </div>
        <hr>
        <div class="footer">
            <p>&copy; Bazaar 2015</p>
        </div>
    </div>
    <!-- /container -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <script src="/javascripts/jquery.ui.widget.js"></script>
    <script src="/javascripts/jquery.iframe-transport.js"></script>
    <script src="/javascripts/jquery.fileupload.js"></script>
    <script src="https://bootflat.github.io/bootflat/js/icheck.min.js"></script>
    <script src="https://bootflat.github.io/bootflat/js/jquery.fs.selecter.min.js"></script>
    <script src="https://bootflat.github.io/bootflat/js/jquery.fs.stepper.min.js"></script>
    <script src="/javascripts/parsley.min.js"></script>
    <script src="/javascripts/ejs_production.js"></script>
    <script src="/javascripts/sweet-alert.min.js"></script>
    <script src="/javascripts/main.min.js"></script>
  </body>
</html>
